In [1]:

import numpy as np
import pandas as pd
# import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('column_3C.csv', sep = " ")
data.columns = [ 'PI', 'PT', 'LLA', 'SS', 'PR', 'GOS', 'cat']
# columns = [ pelvic incidence, pelvic tilt, lumbar lordosis angle, sacral slope, pelvic radius, grade of spondylolisthesis, cat = ' Normal, Disk Hernia or Spondylolisthesis']

In [3]:
data.head()

      PI     PT    LLA     SS      PR    GOS cat
0  39.06  10.06  25.02  29.00  114.41   4.56  DH
1  68.83  22.22  50.09  46.61  105.99  -3.53  DH
2  69.30  24.65  44.31  44.64  101.87  11.21  DH
3  49.71   9.65  28.32  40.06  108.17   7.92  DH
4  40.25  13.92  25.12  26.33  130.33   2.23  DH

In [4]:
data.tail()

        PI     PT    LLA     SS      PR   GOS cat
304  47.90  13.62  36.00  34.29  117.45 -4.25  NO
305  53.94  20.72  29.22  33.22  114.37 -0.42  NO
306  61.45  22.69  46.17  38.75  125.67 -2.71  NO
307  45.25   8.69  41.58  36.56  118.55  0.21  NO
308  33.84   5.07  36.64  28.77  123.95 -0.20  NO

In [5]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data1 = data.copy()
data1['cat'] = le.fit_transform(data1['cat'])

In [6]:
data1.head()

      PI     PT    LLA     SS      PR    GOS  cat
0  39.06  10.06  25.02  29.00  114.41   4.56    0
1  68.83  22.22  50.09  46.61  105.99  -3.53    0
2  69.30  24.65  44.31  44.64  101.87  11.21    0
3  49.71   9.65  28.32  40.06  108.17   7.92    0
4  40.25  13.92  25.12  26.33  130.33   2.23    0

In [7]:
X = data1.iloc[:,:-1].values
y = data1.iloc[:,-1].values

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test =  train_test_split(X,y,test_size = 0.25, random_state= 0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [10]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier = classifier.fit(X_train,y_train)
#prediction
y_pred = classifier.predict(X_test)
#check accuracy
accuracy = metrics.accuracy_score(y_test, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))

Accuracy: 0.86

In [11]:
a=[X_test[11]]

In [12]:
y_pred = classifier.predict(a)

In [13]:
print(y_pred)

[2]

In [14]:
# pred=model.predict(datosN)
pred= float(y_pred)

if pred == 0 :
    print("DH")
    
elif pred == 1:
    print("SL")
    
elif pred == 2:
    print("NO")

NO